<% form_for([@board, @task]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
<div class="wrapper">
<div class="inputbox">
    <%= f.label :description %><br />
	Short description of project / task <br/>
    <%= f.text_area :description %>
</div>
 <div class="inputbox">
    <%= f.label :value %><br />
	How does this task / project add value?<br />
    <%= f.text_area :value %>
 </div>
  <div class="inputbox">
    <%= f.label :consequence %><br />
	What are the consequences of not doing this task?<br />
    <%= f.text_area :consequence %>
  </div>
<br style="clear: left"/>
</div>
<br/>
  <p> 
	<%= f.label :project%><br/>
	Check if this is big enough to be a project (over 150 hrs)<br />
	<%= f.check_box :project%>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>