<h1>Listing done tasks for <%= @board.name %></h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% for task in @tasks %>
  <tr>
    <td><%=h task.name %></td>
    <td><%= link_to 'Show', board_task_path(@board, task) %></td>
    <td><%= link_to 'Destroy', board_task_path(@board, task), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Back to board', board_path(@board) %>
