<h1>Information for <%= @task.name %></h1>

<p>
  <b>Name:</b>
  <%=h @task.name %>
</p>
<p>
  <b>Requested by / Contact:</b>
  <%=h @task.requester %>
|
  <b>Created:</b>
  <%=h @task.created_at.strftime("%b %d %Y") %>
|
<% if @task.state != State::NEW %>
<% if @task.documentation%>

    <b>URL to documentation:</b> <a href="<%= @task.documentation %>"> <%= @task.documentation %></a>

<% else %>

    <b>URL to documentation:</b> <%= link_to 'Edit', edit_board_task_path(@board, @task) %> to add link to documentation

<% end %>
<% end %>
</p>
<div class="info">
  <b>Description:</b>
  <%=h @task.description %>
</div>
<div class="info">
  <b>How does this add value:</b>
  <%=h @task.value %>
</div>
<div class="info">
  <b>Consequence if not done:</b>
  <%=h @task.consequence %>
</div>


<%= link_to 'Edit Task', edit_board_task_path(@board, @task) %> |
<%= link_to 'Back to Board', board_path(@board) %> |
<% if @task.state == State::DONE %>
<hr/>
<p>
	<b>Restore Task?</b><br/> 
	Restore this task and move it to the backlog: <%= button_to 'Done', in_backlog_board_task_path(:board_id => @board, :project => @task), :confirm => 'This will move this task to the backlog. Are you sure?', :method => :in_backlog %> 
</p>
<% end %>
<hr/> 
<b>No longer relevant?</b> Delete this task: <%= link_to 'Destroy', board_task_path(@board, @task), :confirm => 'This will permanently delete this task, and can not be undone. Are you sure?', :method => :delete %>
