<h1>Information for <%= @task.name %></h1>

<p>
  <b>Name:</b>
  <%=h @task.name %>
</p>
<p>
  <b>Requested by / Contact:</b>
  <%=h @task.requester %>
</p>
<p>
  <b>Created:</b>
  <%=h @task.created_at.strftime("%b %d %Y") %>
</p>
<% if @task.state != State::NEW %>
<p>
    <b>URL to documentation:</b> <a href="<%= @task.documentation %>"> <%= @task.documentation %></a>
</p>
<% end %>
<p>
	<b>Set task to done:</b>
	<%= button_to 'Done', done_board_task_path(:board_id => @board, :project => @task), :confirm => 'This will set the status of this task to done. Are you sure?', :method => :done %>
</p>
<p>
  <b>Description:</b>
  <%=h @task.description %>
</p>
<p>
  <b>How does this add value:</b>
  <%=h @task.value %>
</p>
<p>
  <b>Consequence if not done:</b>
  <%=h @task.consequence %>
</p>

<%= link_to 'Edit', edit_board_task_path(@board, @task) %> |
<%= link_to 'Back to Board', board_path(@board) %> |