<h1>
	Board for <%=h @board.name %>
</h1>
<p>
	&nbsp; <%= link_to 'New task', new_board_task_path(@board) %> | <%= link_to 'Edit Board', edit_board_path(@board) %> | <%= link_to 'All boards', boards_path %> | <%= link_to 'Completed Projects & Tasks',  board_tasks_path(@board, :state => State::DONE) %>
</p>
<div class="wrapper">
	<div class="backlogbox">
	<div class="board">
		<div class="droppzone" id="droppzone_backlog">
			<h2>
				Sugggested
			</h2>
			<h3> Development projects</h3>
			<%if @board.max_projects <= @new_projects.size%>
			<div class="roundedcornr_box warning_box">
				<div class="roundedcornr_content"> 
					There are now <%=@new_projects.size%> suggested projects. Realistically, some of these will never be done. The honest and efficient thing to do would be to delete and give feedback to those who suggested it. 
				</div>	
			</div>
			<%end%>
			<%= render :partial => "project", :collection => @new_projects%>
			<h3>PM Tasks</h3>
			<%if @board.max_tasks <= @new_tasks.size%>
			<div class="roundedcornr_box warning_box">
				<div class="roundedcornr_content"> 
					There are now <%=@new_tasks.size%> suggested tasks. Realistically, some of these will never be done. The honest and efficient thing to do would be to delete and give feedback to those who suggested it. 
				</div>	
			</div>
			<%end%>
			<%= render :partial => "project", :collection => @new_tasks%>
			<%= drop_receiving_element('droppzone_backlog',
			  :accept => 'roundedcornr_box',
			  :hoverclass => "hover",
			  :with => "'project=' + (element.id.split('_').last())",
			  :url => in_backlog_board_task_path(:board_id => @board),
			  :complete => "window.location.reload()"
			)%>
		</div>
		</div>
	</div>
		<div class="projectbox">
			<div class="board">
			<div class="droppzone" id="droppzone_in_work">
				<h2>
					In work
				</h2>
				<h3>
					Development projects
				</h3>
				<%= render :partial => "project", :collection => @in_work_projects%>
				<h3>
					PM Tasks
				</h3>
				<%=render :partial => "project", :collection => @in_work_tasks %>
			</div>
			<%= drop_receiving_element('droppzone_in_work',
			  :accept => 'roundedcornr_box',
			  :hoverclass => "hover",
			  :with => "'project=' + (element.id.split('_').last())",
			  :url => in_work_board_task_path(:board_id => @board),
			  :complete => "window.location.reload()"
			)%>
		</div>
		</div>
		<div class="projectbox">
			<div class="board">
			<div class="droppzone" id="droppzone_prioritized">
			<h2>
				Prioritized
			</h2>
			<h3>
				Development projects
			</h3><%=render :partial => "project", :collection => @prioritized_projects %>
			<h3>
				PM Tasks
			</h3><%=render :partial => "project", :collection => @prioritized_tasks %>
			</div>
			<%= drop_receiving_element('droppzone_prioritized',
			  :accept => 'roundedcornr_box',
			  :hoverclass => "hover",
			  :with => "'project=' + (element.id.split('_').last())",
			  :url => prioritize_board_task_path(:board_id => @board),
			  :complete => "window.location.reload()"
			)%>
		</div>
		</div>
		<div style="clear: right"></div>
		<div class="donebox">
			<div class="board">
			<div class="droppzone" id="droppzone_done">
				<h2>
					Done
				</h2>
				<h3> Drop task here when task / project is completed </h3>
			</div>
			</div>
			<%= drop_receiving_element('droppzone_done',
			  :accept => 'roundedcornr_box',
			  :hoverclass => "hover",
			  :with => "'project=' + (element.id.split('_').last())",
			  :url => done_board_task_path(:board_id => @board),
			  :complete => "window.location.reload()"
			)%>
		</div>
		<div style="clear: right"></div>
		<div class="calendar" id="my-timeline"></div>

</div>

